sudo: required

language: php
php:
- '7.1.9'

# services:
#   - docker

branches:
  only:
  - master

# travis runtime environment from here or settings. : https://docs.travis-ci.com/user/environment-variables/
env:
  global:
    - ZIP_FILE="php-web-$TRAVIS_BUILD_NUMBER-$TRAVIS_COMMIT.zip"

    # travis-ci secure doc : https://docs.travis-ci.com/user/encryption-keys/
    # before install travis , first install ruby & gem
    # $ gem install travis
    # $ travis encrypt SOMEVAR="secretvalue"

    # AWS_ACCESS_KEY_ID_DEV
    - secure: ""
    # AWS_SECRET_ACCESS_KEY_DEV
    - secure: ""
    # AWS_ACCESS_KEY_ID_STG
    #    - secure: ""
    # AWS_SECRET_ACCESS_KEY_STG
    #    - secure: ""
    # AWS_ACCESS_KEY_ID_PROD , value : AKI....QMQ
    - secure: "CzGl7sW1bCdb5+QT7uRlQH3BnDRQyuzjVA5cJTHUpYYfDocsqV3u4Ylw3SLksya0yYVl7ZOyL2L7u6yvTEJ6z3nhqvChsZ6NlkrdloVUMAiYWgc91DfrXfBYa+O7V3y+Rv4BG5oCp2veSKljX1Ipt/4ses7qeWYAUmt6t6hYH0oj/NuQOsjBfjUty5yqmILjBWnbjnoewHoEQ3P+HM1dxlEkIgxU0GwBVVEgyN07YMJ3kg+dneXD8Dtl3VmfIaz+geliDh928w3VR3RF5EV6LB68UKhutqd2mFcOhmD+Rr07xw1gGIK3siuEPo6NibfH79nS1res5P3LNNfLr+l2dK7+YlcjCQyXFkjMC2s0B7nCRiphDNEV/kqY7LjDXxT5qGRlLz3QWJ1EU6u+aKo+Qa3E39JUfHJFPS8FwkfBdGvzvWpO5+A6XP/2pywQObLGfl/8YUc/4PKRYcsoCNAhN7Y5pLv1cHAcBUrPjdTLBSonfp0wYPDrB7F5EA/kZTtTkgqxfwg2uVYbepzUEeZ53ucjYMc56mk9IX9zMLMH1JlCPwkoQGU91qCYQNlgygBnQswztqVmIEBOt0zBoTz26mV34ZMuO26s7pBEmJtCpTMoMoIbukgwvVxCXhT5RdYnpgWNvZYrBE4B+7Ua0080sKTjk4XVUUPFPrDfZb9Ngdc="
    # AWS_SECRET_ACCESS_KEY_PROD
    - secure: "CzGl7sW1bCdb5+QT7uRlQH3BnDRQyuzjVA5cJTHUpYYfDocsqV3u4Ylw3SLksya0yYVl7ZOyL2L7u6yvTEJ6z3nhqvChsZ6NlkrdloVUMAiYWgc91DfrXfBYa+O7V3y+Rv4BG5oCp2veSKljX1Ipt/4ses7qeWYAUmt6t6hYH0oj/NuQOsjBfjUty5yqmILjBWnbjnoewHoEQ3P+HM1dxlEkIgxU0GwBVVEgyN07YMJ3kg+dneXD8Dtl3VmfIaz+geliDh928w3VR3RF5EV6LB68UKhutqd2mFcOhmD+Rr07xw1gGIK3siuEPo6NibfH79nS1res5P3LNNfLr+l2dK7+YlcjCQyXFkjMC2s0B7nCRiphDNEV/kqY7LjDXxT5qGRlLz3QWJ1EU6u+aKo+Qa3E39JUfHJFPS8FwkfBdGvzvWpO5+A6XP/2pywQObLGfl/8YUc/4PKRYcsoCNAhN7Y5pLv1cHAcBUrPjdTLBSonfp0wYPDrB7F5EA/kZTtTkgqxfwg2uVYbepzUEeZ53ucjYMc56mk9IX9zMLMH1JlCPwkoQGU91qCYQNlgygBnQswztqVmIEBOt0zBoTz26mV34ZMuO26s7pBEmJtCpTMoMoIbukgwvVxCXhT5RdYnpgWNvZYrBE4B+7Ua0080sKTjk4XVUUPFPrDfZb9Ngdc="
    # global variables
    - AWS_ACCESS_KEY_ID=''
    - AWS_SECRET_ACCESS_KEY=''
    - AWS_REGION='ap-northeast-1'
    - S3_BUCKET='ziro-bucket'
    - S3_FOLDER='ziro-demo'
    - CODEDEPLOY_APP_NAME=''
    - CODEDEPLOY_GROUP=''


# notification - https://docs.travis-ci.com/user/notifications
# notifications:
#   email:
#     recipients:
#       - one@example.com
#       - other@example.com
#     on_success: never # default: change
#     on_failure: always # default: always
# integration to slack , setup on slack travis-ci app
notifications:
  email:
    on_failure: always
    on_success: never
# slack:
#    secure: "nUYjAZGN+uymXquFddUgPkbD/06atgwjWBRINpn3Hgq54+iJ8mSKJ5jSUaKUV4TCaQkwwv8+8GhwGTYeTkPq6/UBGQWeIVgfhzN0iXfjjhaBu0VhWzzeLfDFbD6ok0XRYdXYVnu3G3il7iXNSbCMH8jwsnrNvZNNEDovNxMA1LmPJ5v6Gg/+kGrngxYW0lIl/0+81TEBaVKo1KeIaEirRzIlN15tTNC6t3o9zV1dXaAE2H6ZbJLYj+NpsPCPYgjUf1seMBRCrMbTKcUu9yf2jwxXqZigtdmTAW5EZGro1ESv/v2kCnMmL5bmuDRizRw7CCnAANJQdJ3jVzVGK289+S/AqdcjGMYQxFRq/iyi4T6BZIbrHOTnKWwGq18djrEFxEysL6AC1rEDg7MTw2uQpiUAFIJff3PnXLEjJbKB/DR9zn3oLij4bxJ4CdnYwxZZvQO1zhQj2GhTzOYZ/G+DW3auuQI2ufVYaAiJf9NLoYLa1XXOyChAJhV3LEnZO8x78IRxwAmQKm/K6sTBIzXZXdb/heKCibnAEYUv7ZsKf8JzIKcv0nLreARqjBoUH181O+zhcjIdJKXmloQ67lUbtOFZD6jPQ1K/W1JZoAWcjX24g1VaApYPbMJDs8hMfZNFO/s52J/UQ3zy9WWUQK6Vp1AZgqErXEqO2+3MLh/wOhI="

cache:
  directories:
  - $COMPOSER_CACHE_DIR
  - $HOME/.composer/cache




# build lifecycle - https://docs.travis-ci.com/user/customizing-the-build/
# (OPTIONAL) Install apt addons
# (OPTIONAL) Install cache components
# before_install
# install
# before_script
# script
# (OPTIONAL) before_cache (for cleaning up cache)
# after_success or after_failure
# (OPTIONAL) before_deploy
# (OPTIONAL) deploy
# (OPTIONAL) after_deploy
# after_script

# set -e : when error stop build.
before_install:
  - set -e
  - echo `date +"%Y-%m-%d %H:%M:%S"`
  - echo $TRAVIS_BRANCH
  - if [[ $TRAVIS_BRANCH == "dev" ]]; then
      AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID_DEV;
      AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY_DEV;
      S3_BUCKET='';
      CODEDEPLOY_APP='';
      CODEDEPLOY_GROUP='';
    fi
  - if [[ $TRAVIS_BRANCH == "staging" ]]; then
      AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID_STG;
      AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY_STG;
      S3_BUCKET='';
      CODEDEPLOY_APP='';
      CODEDEPLOY_GROUP='';
    fi
  - if [[ $TRAVIS_BRANCH == "master" ]]; then
      AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID_PROD;
      AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY_PROD;
      S3_BUCKET='ziro-bucket';
      CODEDEPLOY_APP='demo';
      CODEDEPLOY_GROUP='ec2';
    fi


# put testing scripts here
script:
- echo 'script step...'

before_deploy:
- cd "$TRAVIS_BUILD_DIR";
  mkdir "$TRAVIS_BUILD_DIR/zip";
  zip -r "$TRAVIS_BUILD_DIR/zip/$ZIP_FILE" *


deploy:
- provider: S3
  access_key_id: &aws_access_key $AWS_ACCESS_KEY_ID
  secret_access_key: &aws_secret_key
    secure: $AWS_SECRET_ACCESS_KEY
  region: $AWS_REGION
  local_dir: $TRAVIS_BUILD_DIR/zip
  bucket: $S3_BUCKET
  upload-dir: $S3_FOLDER
  skip_cleanup: true
  on:
    all_branches: true

- provider: codedeploy
  access_key_id: *aws_access_key
  secret_access_key: *aws_secret_key
  region: $AWS_REGION
  bucket: $S3_BUCKET
  key: $S3_FOLDER/$ZIP_FILE
  bundle_type: zip
  application: $CODEDEPLOY_APP
  deployment_group: $CODEDEPLOY_GROUP
  wait-until-deployed: true
  on:
    all_branches: true
